pg_duckdb/
.cache/
.config/
.dotnet/
.local/
.ssh/
.vscode-server/
.jupyter/
.ipython/
.ivy2/
.gradle/
.vscode-remote-containers/
.npm/
.bash_history
.bash_logout
.bashrc
.duckdb_history
.gitconfig
.lesshst
.profile
.psql_history
.python_history
.sqlite_history
.sudo_as_admin_successful
.viminfo
.wget-hsts
.gitattributes
.git-credentials
duckdb
my_duckdb
.vscode-R/
.duckdb/
.gradel/
shiny_app/data/*.parquet